[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg
    http://good-py.appspot.com/release/dexterity/1.2

package-name = collective.conference

parts += omelette
versions = versions

[versions]
plone.supermodel = 1.1.1

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    collective.conference [test]
defaults = ['-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
